html, body {
    background-color: #252525;
    font: bold 1.2em "Poppins", system-ui;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}

.header {
    background-color: #1A1A1A;
    color: white;
    font-size: 36px;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    transition: .5s ease-in-out;
}

.color_bar {
    height: 12px;
    background: linear-gradient(137deg, cyan 0%, magenta 50%, orange 100%);
}

h1 {
    cursor: default;
    font-size: 38px;
    margin: 0;
}

ul {
    margin-left: auto;
    font-style: normal;
    font-size: 22px;
    padding: 0;
}

ul a {
    color: inherit;
    text-decoration: none;
    padding: 0px 12px;
    cursor: pointer;
}

ul a:hover {
    transition: .25s ease-in-out;
    color: orange;
}

.content_container {
    color: white;
    height: calc(100% - 10em);
    padding: 32px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.home {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
}

.home p {
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

.image_container {
    width: 100%;
    text-align: center;
}

.image_container img {
    width: 256px;
    height: 256px;
    border-radius: 15px;
    box-shadow: 8px 8px rgba(47, 41, 124, 0.4);
}

canvas {
    border-radius: 8px;
}