body {
    background-color: black;
    font: italic bold 1.2em "Poppins", system-ui;
}

h1 {
    color: white;
}

#canvas {
    border-radius: 15px;
}

#container {
    display: flex;
    justify-content: center;
}